# ARCH-DEPLOY CONFIG
####                     ####
####    DOTFILES REPO    ####
####                     ####

# Description : repo of config files to be installed in ~/.config
dotfiles_repo = clementdlg/dotfiles
dotfiles_branch = archlinux

####                       ####
####    PACMAN PACKAGES    ####
####                       ####

# Description : packages to be installed with the native package manager, sorted by groups
pacman_package_managers = npm:rust:flatpak:python-pip:python-pipx

pacman_desktop_core=hyprland:sddm:rofi-wayland:waybar:hyprpaper:hyprshot:swaync:xdg-desktop-portal:xdg-desktop-portal-hyprland:hyprlock:hypridle:ttf-dejavu

pacman_desktop_apps=alacritty:thunar:gvfs:thunar-volman:vlc:syncthing

pacman_gpu=xf86-video-intel

pacman_assets=ttf-dejavu-nerd:ttf-noto-nerd:papirus-icon-theme:catppuccin-sddm-theme-mocha

pacman_device_management=nwg-displays:network-manager-applet:blueman:bluez:brightnessctl:playerctl

pacman_audio_stack=pipewire-jack:pipewire:pipewire-docs:wireplumber:pipewire-pulse:pipewire-audio:pavucontrol:alsa-utils

pacman_tty=vim:neovim:tmux:htop:btop:fzf:bat:eza:unzip:tar:diffutils:git:ripgrep:tree

pacman_virtualisation=libvirt:qemu-desktop:virt-install:virt-viewer


pacman_networking=net-tools:iputils:inetutils:traceroute:openbsd-netcat:bind:wget:curl:wireguard
pacman_devops=openssh:docker:docker-compose:ansible 

####                          ####
####    3RD-PARTY PACKAGES    ####
####                          ####

# Description : packages installed using third-party package managers
aur_packages=:librewolf-bin:catppuccin-gtk-theme-mocha

flatpak_packages=com.discordapp.Discord:com.github.wwmm.easyeffects:md.obsidian.Obsidian:org.signal.Signal:org.qbittorrent.qBittorrent:org.remmina.Remmina:org.filezillaproject.Filezilla:org.onlyoffice.desktopeditor

pipx_packages=labctl:yt-dlp

####                        ####
####    GIT REPOSITORIES    ####
####                        ####

# Description : repos to clone in $repo_path base directory
repos_path="/home/$USER/repos"
repos_target=clementdlg/scripts:clementdlg/arch-btrfs-install


####                     ####
####    SYSTEMD UNITS    ####
####                     ####

# Description : systemd unit file to enable
systemd_services=pipewire.service:pipewire-pulse.service
systemd_services_user=syncthing.service

####                      ####
####    FIREWALL RULES    ####
####                      ####

# Description : manage firewall rules using firewall-cmd
fw_services=syncthing
fw_ports=

####                       ####
####    USER MANAGEMENT    ####
####                       ####

# Description : settings for users
user_groups=wheel:libvirt:docker:wireshark

####                      ####
####    LIBVIRT CONFIG    ####
####                      ####

# Description : change libvirt config
libvirt_pools =isos,/home/$USER/virt/isos:qcows,/home/$USER/virt/qcows
